<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Product-Supplier App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1><a href="/">STORE</a></h1>
        <nav>
            <a href="/products">Products</a> |
            <a href="/suppliers">Suppliers</a>
        </nav>
    </header>
    <main>